 <div class="user-details">
  <h2> What is 1 Millions Community ? </h2>
  <p> 1 Millions is erc20 that was built for the Blockchain community, has been supported by popular wallets on your computer, your smartphone, or websites like Mew, Metamask, Trustwallet, Imtoken and other erc20 wallets. One of the most popular uses for Token is "tipping" to the community. Think of it as a more meaningful "like" or upvote, with real value which can be used by the community. </p>
  </div>
 <div class="user-details">
  <h2>How do i get a token ? </h2>
  <p>You can buy it on an available exchange, If that's not your style, the easiest way to have your first token is by participating in our community.</p>
  </div>
  <div class="user-details">
        <h2>Compatible Wallet</h2>
    <div class="header-icons">
   <p>
        <font size="5">
        <a href="https://myetherwallet.com/" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> MEW</a>
        <a href="https://metamask.io/" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> Metamask</a>
        <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.trustapp" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> Trust wallet</a>
        <a href="https://play.google.com/store/apps/details?id=im.token.app" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> Imtoken</a>
   </p>
      </div>
 <div class="user-details">
  <h1>Join and getting started now ! </h1>
   </div>
